//Color

$gradiant-color-first: #03254D;
$gradiant-color-second: #010A19;
$background-color: #002A4E;
$primary-color: #011633;
$font-color-primary: #ffffff;
$font-color-secondary: cyan;
$sub-heading-grad-first: #1c92d2;
$sub-heading-grad-second: #f2fcfe;

$default-color: cyan;

$background-white: #ffffff;

//width

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZE

$default-font-size: 1.55rem;
$sub-heading-font: 3.4rem;
$heading-tertiary-font: 1.7rem;
$card-heading: 2.8rem;
$feature-icon: 5.5rem;

//BUTTON

$button-background: #2C87C0;