@keyframes moveInLeft {
    0%{
       opacity: 0;
       transform: translateX(-100px);
    }
    100%{
       opacity: 1;
       transform: translateX(0px);
    }
 }
 
 @keyframes moveInRight {
    0%{
       opacity: 0;
       transform: translateX(100px);
    }
    100%{
       opacity: 1;
       transform: translateX(0px);
    }
 }
 
 @keyframes fadeIn {
    0% {
       opacity: 0;
       transform: translateY(100px);
    }
 
    100% {
       opacity: 1;
       transform: translateY(0);
 
    }
 }

@keyframes preload {
   0% {
      opacity: 0;
      transform: translate(-50%,-50%) scale(1);
   }
   50% {
      opacity: 1;
      transform: translate(-50%,-50%) scale(1.5);
   }
   100% {
      opacity: 0;
      transform: translate(-50%,-50%) scale(1);
   }
}

@keyframes nav{
   0% {
      opacity: 0;
   }

   40% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes preloader{
   0% {
       transform: rotate(0deg);
   }

   100%{
       transform: rotate(360deg);
   }
}
