body{
    background-color: $background-color;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $font-color-primary;
    padding: 3rem;
 }

.heading-primary{
    color: $font-color-primary;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main{
     display: block;
     font-weight: 400;
     font-size: 6rem;
     letter-spacing: 2rem;
     animation-name: moveInLeft;
     animation-duration: 2s;
     animation-delay: 0.4s;
     animation-timing-function: ease-out;
     animation-fill-mode: backwards;
   }

   &--sub{
     display: block;
     font-weight: 700;
     font-size: 2rem;
     letter-spacing: 1.5rem;
     animation: moveInRight 2s ease-out;
     animation-delay: 0.4s;
     animation-fill-mode: backwards;
   }
}

.heading-secondary{
  display: inline-block;
  font-weight: 700;
  font-size: $sub-heading-font;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $sub-heading-grad-first, $sub-heading-grad-second);
  -webkit-background-clip: text;
  color: transparent;

  &:hover{
    transform: scale(1.15);
    text-shadow: 0px 0px 1rem rgba($color: $default-color, $alpha: 1);
    transition: transform 0.2s;
  }
}

.heading-tertiary{
  font-size: $heading-tertiary-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-color-primary;
}

.paragraph{
  font-size: $default-font-size;
  font-weight: 400;

  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}