.u-center{
    text-align: center !important;
}

.u-bottom-margin-big{
    margin-bottom: 10rem !important;
}

.u-bottom-margin-medium{
    margin-bottom: 4rem !important;
}

.u-bottom-margin-small{
    margin-bottom: 2rem !important;
}

.u-margin-top-big{
    margin-top: 10rem !important;
}

.u-margin-top-medium{
    margin-top: 6rem !important;
}

.u-margin-top-small{
    margin-top: 3rem !important;
}