.section-about{
    background-color: $primary-color;
    padding: 23rem 0;
    margin-top: -20vh;
}

.features{
    margin-top: -5.5rem;
    padding: 22rem 0;
    background-image: linear-gradient(
        to left top,
         rgba($gradiant-color-first,0.65),
          rgba($gradiant-color-second, 0.8)), 
        url(../images/hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewY(5deg);

    & > *{
        transform: skewY(-4.5deg); 
    }
}

.tour{
    background-color: $primary-color;
    padding: 23rem 0 15rem 0;
    margin-top: -20vh;
    text-align: center;
}

.section-story{
    position: relative;
    padding: 12rem 0;
    // background-color: royalblue;
    text-align: center;
}

.premium{
    position: relative;
    padding: 50rem 0;
    text-align: center;
}